{% extends 'base.html' %}

{% block content %}
    <center>
    <h1>Registration</h1>
    <hr>
    <form action="{% url 'register' %}" method="post">
        <pre>        username {{ form.username }}      </pre><p>{{ form.errors.username }}</p>
        <pre>           email {{ form.email }}      </pre><p>{{ form.errors.email }}</p>
        <pre>        password {{ form.password1 }}      </pre><p>{{ form.errors.password1 }}</p>
        <pre>confirm password {{ form.password2 }}      </pre><p>{{ form.errors.password2 }}</p>
        {% csrf_token %}<br>
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>
        </center>

{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}